<div class="container">

    <mat-card class="example-card">
      <!--<mat-card-subtitle>
        
        <img mat-card-image 
        src="//static1.squarespace.com/static/5ec854c0bdc68a482249d34a/t/5ec85ea75699191ae90c9e6d/1614265996610/?format=1500w" 
        alt="SM"></mat-card-subtitle>-->
      <img mat-card-image 
      src="https://static1.squarespace.com/static/5ec854c0bdc68a482249d34a/t/60420c658fcc1f35a44339e5/1614941288712/Sylvia%402x.png?format=500w" 
      alt="Sylvia">
      <mat-card-header>
        <mat-card-title>Sylvia Feliciano</mat-card-title>
        <mat-card-subtitle>Founder & CEO</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <mat-list role="list">
          <a href="mailto:sylvia@thesolacemind.com"><mat-list-item role="listitem"><span class="material-icons">
            mail
            </span><span style="padding-left: 10px ;">sylvia@thesolacemind.com</span></mat-list-item></a>
            <a href="tel:702-626-9477"><mat-list-item role="listitem"><span class="material-icons">
            call
            </span><span style="padding-left: 10px ;">702-626-9477 </span></mat-list-item></a>
            <a href="https://thesolacemind.com/life-insurance"><mat-list-item role="listitem"><span class="material-icons">
            link
            </span><span style="padding-left: 10px ;">Visit Website </span></mat-list-item></a>
        </mat-list>
      </mat-card-content>
      <mat-card-actions class="CTA-1">
       <a href="https://thesolacemind.com/offerings" target="_blank"><button mat-raised-button class="CTA">Offerings</button></a>
       <a href="https://thesolacemind.com/coaching" target="_blank"><button mat-raised-button class="CTA">Coaching</button></a>
       <a href="https://thesolacemind.com/life-insurance" target="_blank"><button mat-raised-button class="CTA">Insurance</button></a>

      </mat-card-actions>
      <mat-card-content class="content-2">
        <ul class="contact-2">
          <li>
           <a href="https://www.facebook.com/thesolacemind" target="_blank"><i class="fab fa-facebook"></i></a> 
          </li>
          <li>
            <a href="https://www.instagram.com/thesolacemind/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCsTubDEcwufHBQhSgWC-IuQ?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href="https://in.pinterest.com/solacemind/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
            </li>
            <li>
              <a href="../files/Feliciano_Sylvia.vcf" download><i class="fas fa-file-download"></i></a>
            </li>
            
        </ul>
        
      </mat-card-content>
      <mat-card-actions class="CTA-1">
        <a routerLink="ffl" ><button mat-raised-button class="CTA">Family First Life</button></a>

      </mat-card-actions>
    </mat-card>
    
  
  </div>
  