<nav>
    <h3>&nbsp;</h3>
  </nav>
  <div class="container">
  
    <mat-card class="example-card">
      <img mat-card-image 
      src="https://images.squarespace-cdn.com/content/v1/5ec854c0bdc68a482249d34a/1614264168561-3ESMFD6QTWXYVSDI26JK/ke17ZwdGBToddI8pDm48kJW6XkMP4r1zc6GUTYN6JgRZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PIpnrQQdagsI3OSCfyyRoE0LGnpI4U_B_dmRUI3Wv7m9A/Sylvia-FFL+Hero.png?format=750w" 
      alt="Sylvia">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Sylvia Feliciano</mat-card-title>
        <mat-card-subtitle>Sylvia is an affiliate of Family First Life, one of the largest insurance organizations in the United States and is licensed in multiple states.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <div class="contact-1">
        <ul>
          <li>
            <a href="mailto:sylvia@thesolacemind.com"><span class="material-icons">
              mail
              </span><span style="padding-left: 10px ;">sylvia@thesolacemind.com</span></a>
          </li>
          <li>
            <a href="tel:725-777-0552"><span class="material-icons">
              call
              </span><span style="padding-left: 10px ;">725-777-0552 </span></a>
          </li>
          <li>
            <span class="material-icons">
              textsms
              </span><span style="padding-left: 10px ;">725-777-0552 </span>
          </li>
  
        </ul>
      </div>
      </mat-card-content>
      <mat-card-actions class="CTA-1">
        <button mat-raised-button class="CTA">Schedule an Appointment</button>
      </mat-card-actions>
        
      <mat-card-content>
      <mat-accordion class="partners">
        <mat-expansion-panel class="partners" hideToggle>
          <mat-expansion-panel-header class="partners">
  
            <mat-panel-description>
              Our Partners
            </mat-panel-description>
          </mat-expansion-panel-header>
          <img src="https://images.squarespace-cdn.com/content/v1/5ec854c0bdc68a482249d34a/1604824175589-IY0X9VZ3FYBN307EHAS8/ke17ZwdGBToddI8pDm48kMQjJfc-bVXSHiLohfFr3KBZw-zPPgdn4jUwVcJE1ZvWhcwhEtWJXoshNdA9f1qD7TNdqww6z_61iXx7yO_mnkrmkV4Zaa_k75Zo5HbGUz8HiV_hIK6YlJaJWvpAAjYLnQ/index.png?format=30w">
          <img src="https://images.squarespace-cdn.com/content/v1/5ec854c0bdc68a482249d34a/1604824178846-76MJOOBFG4NO0FOOBZGF/ke17ZwdGBToddI8pDm48kLl76CqolYQpYCK1tQUkpCVZw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpxWNZ_v0dkiu6uws_J5Elwz91lXp-SVV4UdMxBg-Z-H5QRqoF1H6j8zvH_S4H66Thg/5d443eddedcaeb04c6b3cb47_logo-americo.png?format=30w">
          <img src="https://images.squarespace-cdn.com/content/v1/5ec854c0bdc68a482249d34a/1604823634431-FXI20WOEFOPYP1WPJZHM/ke17ZwdGBToddI8pDm48kGweiHLCZC69ao1v1TlzAJ1Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZUJFbgE-7XRK3dMEBRBhUpwSBphrhX1sL20Mp2O1LuFVm0Fg9RG8QhLiOlwv1A8HSbgSJ4JcDPP7i6Zc957Q1bE/Logo-Mutual-of-Omaha.jpg?format=30w">
          <img src="https://images.squarespace-cdn.com/content/v1/5ec854c0bdc68a482249d34a/1604824178766-7DBEVZA0WHZNUI68PZ1I/ke17ZwdGBToddI8pDm48kC6_XvQ0kHQQPLB8sBuuihYUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcoz7AQ8ZfFq9A9Aznn3aDni5aIvl24vkjKlkZXLynceYLdi2YtAqmx52W8utHDDmF/Athene-Logo_rgb.jpg?format=30w">
          <img src="https://images.squarespace-cdn.com/content/v1/5ec854c0bdc68a482249d34a/1604824457684-8ZM1ZVDUM0TA1T6DJ6KI/ke17ZwdGBToddI8pDm48kJKVmEKxb9pG5ihACuYgiboUqsxRUqqbr1mOJYKfIPR7LoDQ9mXPOjoJoqy81S2I8N_N4V1vUb5AoIIIbLZhVYxCRW4BPu10St3TBAUQYVKcnNA-t_Z8iL1kUFgIur99Cm_92gXmMWxRAKELskv-wkwv2o3RnhU8Fi4C3oF4xXRT/JH_Vitality_RGB_2017.png?format=30w">
          <img src="https://images.squarespace-cdn.com/content/v1/5ec854c0bdc68a482249d34a/1604824175589-FGVR43KQ15PV66INCTOF/ke17ZwdGBToddI8pDm48kGVAqUhYrGdhEGudzFls7K1Zw-zPPgdn4jUwVcJE1ZvWQUxwkmyExglNqGp0IvTJZamWLI2zvYWH8K3-s_4yszcp2ryTI0HqTOaaUohrI8PILoipRwDGDp8JlOmHWwEzCs15SnFJfrg4f5DR1NSbatA/reliashield.png?format=30w">
          <img src="">
          <img src="">
          <img src="">



        </mat-expansion-panel>
         </mat-accordion>
        </mat-card-content>
      <mat-card-content class="content-2">
        <ul class="contact-2">
          <li>
           <a href="https://www.facebook.com/thesolacemind" target="_blank"><i class="fab fa-facebook"></i></a> 
          </li>
          <li>
            <a href="https://www.instagram.com/thesolacemind/" target="_blank"><i class="fab fa-instagram"></i></a>
          </li>
          <li>
            <a href="https://www.youtube.com/channel/UCsTubDEcwufHBQhSgWC-IuQ?view_as=subscriber" target="_blank"><i class="fab fa-youtube"></i></a>
          </li>
          <li>
            <a href="https://in.pinterest.com/solacemind/" target="_blank"><i class="fab fa-pinterest-p"></i></a>
            </li>
          <li>
            <a href="https://www.thesolacemind.com" target="_blank"><i class="fas fa-link"></i></a>
          </li>
        </ul>
        
      </mat-card-content>
    </mat-card>
    
  
  </div>
  
  
  <router-outlet></router-outlet>